
extends layout

block append vars
  - bodyclass = 'article-detail'

block prepend title
  | #{ page.title + " - "}

block header
  h1= page.title
    a(href=page.metadata.repo).social.github j
    a(href='https://twitter.com/littlemooon').social.twitter t
  p= page.metadata.description

block content
  article
    section!= typogr(page.html).typogrify()